body {
  display: flex;
  background: var(--background);
}

nav.navbar {
  width: 112px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
}

.logo {
  margin: 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
}

.home {
  background-color: var(--text);
    -webkit-mask: url(/img/Home.svg) no-repeat left;
    mask: url(/img/Home.svg) no-repeat left;
}

.home:hover{
  background-color: #432767;
}

.leaderboard {
  background-color: var(--text);
    -webkit-mask: url(/img/Leaderboard.svg) no-repeat left;
    mask: url(/img/Leaderboard.svg) no-repeat left;

}

.leaderboard:hover{
  background-color: #432767;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.process {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  position: absolute;
  top: 0;

  font-size: 14px;
  font-weight: 400;

  color: var(--text);

}

.process-bar {
  position: relative;
  top: -15px;
  padding: 0.5em 300px;
  border-bottom: 3.5px solid #d7d8da;
  margin: 24px;
}

.container {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 103px;
}

.card {
  width: 468px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
  margin-right: 125px;
}

.user img {
  max-width: 88px;
  max-height: 88px;
  clip-path: circle(50% at 50% 50%);
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: var(--title);
}
.level {
  margin-top: 7px;

  font-size: 16px;
  font-weight: 400;
  color: var(--text);
}

.count-challenges {
  margin-top: 56px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
}

.challenges > span {
  padding: 0.5em 200px;
  border-bottom: 2px solid #d7d8da;
}

.count-temi {
  margin-top: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  gap: 5px;
  font-family: "Rajdhani", sans-serif;
  color: var(--title);

  border: none;
}

.hours {
  height: 130px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;

  font-size: 120px;
  background: var(--white);
}

.hours span {
  height: 120px;
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 5px;
  border: 1px solid #d7d8da;

  border-radius: 5px;
}

.minutes {
  height: 130px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;

  font-size: 120px;
  background: var(--white);
}

.minutes span {
  height: 120px;
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 5px;
  border: 1px solid #d7d8da;

  border-radius: 5px;
}

.initial {
  margin-top: 32px;

  width: 389px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--green);
  color: var(--white);

  border-radius: 5px;

  font-size: 20px;
  font-weight: 600px;
}

.new-challengess{
  background: var(--white);
  border-radius: 5px;

  text-align: center;
}

.new-challengess > p{
  font-size: 24px;
  font-weight: 500px;
  color: var(--text)
}

.level-up{
  margin-top: 64px;
  font-size: 16px;
  font-weight: 500px;
  color: var(--text)

}

